/*
Name: Dohee Kim
Date: 09. August. 2023
Student Id Number: 991713105
*/

*{
    background-color: lightblue;
    text-align: center;
    font-family: sans-serif;
}

#logo {
    width: auto; 
    height: 200px; 
}

tr:nth-child(even) {
    background-color: #2e2649;
  }
  tr:nth-child(odd) {
    background-color: #423b5b;
  }
  th {
    background-color: #342F44;
    color: white;
  }
  .noBorder {
      border:none !important;
  }
